
<div @fade class="main-content">
	<div class="container-fluid">
		<div class="row">
			<!-- <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
				<a routerLink="/medicines">
					<button mat-raised-button class="btn btn-danger" style="width: 100% !important; height: 130px; font-size: 14px;">
						<i class="fas fa-capsules mb-2 mt-1" style="font-size: 55px !important;"></i>
						<br>
						Medicines Management
					</button>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 mt-3">
				<a routerLink="//medicines/sell">
					<button mat-raised-button class="btn btn-success" style="width: 100% !important; height: 130px; font-size: 14px;">
						<i class="material-icons mb-2 mt-1" style="font-size: 55px !important;">
							transit_enterexit
						</i>
						<br>
						Sell Medicine
					</button>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 mt-3">
				<a routerLink="/medicines/buy">
					<button mat-raised-button class="btn btn-primary" style="width: 100% !important; height: 130px; font-size: 14px;">
						<i class="material-icons mb-2 mt-1" style="font-size: 55px !important; transform: rotate(180deg);">
							transit_enterexit
						</i>
						<br>
						Buy Medicine
					</button>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 mt-3">
				<a routerLink="/users">
					<button mat-raised-button class="btn btn-success" style="width: 100% !important; height: 130px; font-size: 14px;">
						<i class="material-icons mb-2 mt-1" style="font-size: 55px !important;">
							people_alt
						</i>
						<br>
						Employees Management
					</button>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 mt-3">
				<a routerLink="/providers">
					<button mat-raised-button class="btn btn-danger" style="width: 100% !important; height: 130px; font-size: 14px;">
						<i class="fas fa-handshake mb-2 mt-1" style="font-size: 55px !important;"></i>
						<br>
						Providers Management
					</button>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 mt-3">
				<a routerLink="/profile">
					<button mat-raised-button class="btn btn-primary" style="width: 100% !important; height: 130px; font-size: 14px;">
						<i class="material-icons mb-2 mt-1" style="font-size: 55px !important;">
							person
						</i>
						<br>
						Profile Management
					</button>
				</a>
			</div> -->
		</div>
	</div>
</div>
