
<div *ngIf="isPageLoading" class="main-content">
	<app-loader></app-loader>
</div>

<div @fade *ngIf="!isMedicineExist && !isPageLoading" class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					<a style="color: antiquewhite; font-weight: 700;" routerLink="dashboard">
						<i style="color: antiquewhite; margin-bottom: 3px;" class="material-icons">
							keyboard_arrow_left
						</i>
						Dashboard
					</a>
					<span style="margin-left: 20px; margin-top: 20px !important">There is no medicine with such credentials!</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div @fade *ngIf="isMedicineExist && !isPageLoading" class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Update Medicine</h4>
					</div>
					<div class="card-body">
						<form [formGroup]="medicineForm" (ngSubmit)="submitMedicineForm()">
							<div class="row">
								<div class="col-6">
									<mat-form-field class="example-full-width" style="margin-top: 10px;">
										<input formControlName="name" matInput placeholder="Name">
									</mat-form-field>
								</div>
								<div class="col-6">
									<mat-form-field class="example-full-width" style="margin-top: 10px;">
										<input formControlName="expirationDate" matInput placeholder="Expiration Date" type="date">
									</mat-form-field>
								</div>
								<div class="col-6">
									<mat-form-field class="example-full-width" style="margin-top: 10px;">
										<input formControlName="unitPrice" matInput placeholder="Unit Price" min="1" type="number">
									</mat-form-field>
									<mat-error *ngIf="medicineForm.get('unitPrice')?.hasError('min')" style="font-weight: 500;">
										Quantity not valid
									</mat-error>
								</div>
								<div style="width: 100% !important;" class="col-6">
									<select style="width: 100% !important; margin-top: 20px;" formControlName="idProvider">
										<option *ngFor="let provider of providers, let i = index" [value]="provider.id">
											{{ provider.name | titlecase }}
										</option>
									</select>
								</div>
							</div>
							<div class="clearfix"></div>
						</form>

						<button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="submitMedicineForm()" [disabled]="medicineForm.invalid || isMedicineFormLoading">
							<span [hidden]="!isMedicineFormLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
							Update
						</button>
						<button mat-raised-button class="btn btn-danger pull-right" style="margin-right: 7px;" (click)="deleteMedicine()" [disabled]="isDeleteMedicineLoading">
							<span [hidden]="!isDeleteMedicineLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
							Delete
						</button>
						<a routerLink="/medicines">
							<button mat-raised-button class="btn btn-default pull-right" style="margin-right: 7px;">Cancel</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
