<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        Sud Paris - pharmacy
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{currentDate | date: 'yyyy'}}, made with love by
			<strong>
				<a href="https://www.linkedin.com/in/el-mehdi-chaoui/" target="_blank">Chaoui</a>
			</strong>
			&
			<strong>
				<a href="https://www.linkedin.com/in/mohammed-yassine-chraibi-89a332133/" target="_blank">Chraibi</a>
			</strong>
			for a better pharmacy job.
        </div>
    </div>
</footer>
