
<div *ngIf="isPageLoading" class="main-content">
	<app-loader></app-loader>
</div>

<div @fade *ngIf="!isProviderExist && !isPageLoading" class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					<a style="color: antiquewhite; font-weight: 700;" routerLink="dashboard">
						<i style="color: antiquewhite; margin-bottom: 3px;" class="material-icons">
							keyboard_arrow_left
						</i>
						Dashboard
					</a>
					<span style="margin-left: 20px; margin-top: 20px !important">There is no provider with such credentials!</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div @fade *ngIf="isProviderExist && !isPageLoading" class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Update Provider</h4>
					</div>
					<div class="card-body">
						<form [formGroup]="providerForm" (ngSubmit)="submitProviderForm()">
							<div class="row">
								<div class="col-6">
									<mat-form-field class="example-full-width" style="margin-top: 10px;">
										<input [value]="provider.id" matInput placeholder="ID" disabled>
									</mat-form-field>
								</div>
								<div class="col-6">
									<mat-form-field class="example-full-width" style="margin-top: 10px;">
										<input formControlName="name" matInput placeholder="Name">
									</mat-form-field>
								</div>
								<div class="col-6">
									<mat-form-field class="example-full-width" style="margin-top: 10px;">
										<input formControlName="city" matInput placeholder="City">
									</mat-form-field>
								</div>
								<div class="col-6">
									<mat-form-field class="example-full-width" style="margin-top: 10px;">
										<input formControlName="contractDate" type="date" matInput placeholder="contractDate">
									</mat-form-field>
								</div>
							</div>
							<div class="clearfix"></div>
						</form>

						<button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="submitProviderForm()" [disabled]="providerForm.invalid || isProviderFormLoading">
							<span [hidden]="!isProviderFormLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
							Update
						</button>
						<button mat-raised-button class="btn btn-danger pull-right" style="margin-right: 7px;" (click)="deleteProvider()" [disabled]="isDeleteProviderLoading">
							<span [hidden]="!isDeleteProviderLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
							Delete
						</button>
						<a routerLink="/providers">
							<button mat-raised-button class="btn btn-default pull-right" style="margin-right: 7px;">Cancel</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
